RewriteEngine On

Header always edit Set-Cookie (.*) "$1; Secure; HttpOnly; SameSite=Strict"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f  
RewriteRule ^(.*)$ $1.php [L]

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
ErrorDocument 500 /500.php

RewriteRule ^assets/ - [L,NC]
RewriteRule ^config/ - [L,NC]
RewriteRule ^includes/ - [L,NC]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]