<?php
if (defined('KEY_LOADED')) return;
define('KEY_LOADED', true);

// PDO
if (!defined('DB_HOST')) define('DB_HOST', '');
if (!defined('DB_NAME')) define('DB_NAME', '');
if (!defined('DB_USER')) define('DB_USER', '');
if (!defined('DB_PASS')) define('DB_PASS', '');

// MT bypass
define('BYPASS_KEY', '');

// Mail password
define('SMTP_USER', '');
define('SMTP_PASS', '');

// Groq api
define('GROQ_API', '');

// Openweather api
define('WEATHER_API_KEY', '');

// Consent
define('G_TAG_ID', '');
define('FB_PIXEL_ID', '');